@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $main-beige;
    color: $main-brown;
    width: 100vw;
    min-height: 100vh;
    @include flexDisplay();
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        height: 15vh;
        width: 75vw;
        min-width: 175px;
        margin: 2.5vh auto;
        margin-top: 5vh;
        h1 {
            font-family: 'Codystar', cursive;
            margin-bottom: 2.5vh;
        }
    }
    .search {
        height: 5vh;
        @include flexDisplay();
        flex-direction: row;
        width: 75vw;
        margin: 2vh 5vw;
        input {
            max-width: 30vw;
            min-width: 175px;
            margin: 2.5vh 5px;
        }
        button {
            min-width: 65px;
            padding: 2.5px;
            border-radius: 10px;
            outline: none;
            margin: 2.5vh 5px;
            color: $main-beige;
            background: $main-brown;
            border: none;
            &:hover {
                cursor: pointer;
                padding: .5px;
                border: 2px solid $accent;
                background: $main-beige;
                color: $main-brown;
            }
        }
    }
    .word-info-container {
        width: 75vw;
        min-height: 68.5vh;
        margin-bottom: 5vh;
        @include flexDisplay();
        img {
            max-width: 100%;
            max-height: 60vh;
        }
        .word-info-div {
            @include flexDisplay();
            align-items: flex-start;
            border-radius: 15px;
            box-shadow: 1px 1px 10px $accent;
            width: 50vw;
            min-width: 290px;
            margin: 2vh 2vw;
            padding: 10px;
            .word{
                font-size: 2em;
                font-weight: bold;
                margin: 1vh 2vw;
            }
            .pronunciation {
                color: grey;
                font-style: italic;
                font-size: 1.5em;
                margin: 1vh 2vw;
            }
            .type {
                font-size: 1.5em;
                margin: 1vh 2vw;
            }
            .definition {
                font-size: 1.25em;
                margin: 1vh 2vw;
            }
            .example {
                font-size: 1.25em;
                font-style: italic;
                margin: 1vh 2vw;
            }
        }
    }
}